# ignore folders
dashboards/rsconnect/
reports/
shiny_apps/cancer_incidence_mortality_rates/data
shiny_apps/dashboard_incidence_tables/data/
shiny_apps/dashboard_incidence_tables/rsconnect/

# ignore file types
*.html
*.rds
*.pptx
